@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-image: url(../img/프레임\ 2&3&4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.background-wrapper {
  position: relative;
  width: 90vw;   
  height: auto;
  aspect-ratio: 16 / 9;
}

#heart-container {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  gap: 0.1vw;
  z-index: 10;
}

#heart-container img {
  width: 5vw;
  height: auto;
  max-width: 150px;
}

.heart-img {
  width: 5vw;
  height: auto;
  max-width: 150px;
  margin-left: 1vw;
}

.gif-wrapper {
  position: absolute;
  bottom: 5%;
  left: 21%;
  z-index: 5;
}

.shadow-img {
  width: 22vw;
  height: auto;
  margin-bottom: -45vw;
  margin-left: 14vw;
  pointer-events: none;
  z-index: 3;
}

.scene-gif {
  width: 55vw;
  height: auto;
  pointer-events: none;
}

#notice-wrapper {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80vw; 
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#notice {
  width: 100%;
  height: auto;
  opacity: 0.85;
  display: block;
}

#notice-wrapper p {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Galmuri9';
  color: black;
  font-weight: 400;
  font-size: 2.3vw;
  text-align: center;
  line-height: 1.5;
  padding: 0 2vw;
  max-width: 90%;
  word-break: keep-all;
  white-space: nowrap;
}